//width 375px;
//desktop 1440px

$white:hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);
$darkgray:hsl(0, 0%, 55%);
$vdardgray: hsl(0, 0%, 41%);


@import url(https://fonts.google.com/specimen/Alata);
@import url(https://fonts.google.com/specimen/Josefin+Sans);
$bodysize:15px;
html,body{
        height: 100%;
        margin: 0;
    }
    .menu{
        position: fixed;
        width: 100vw;
        height: 0%;
        left: 0;
        top: 0;
        background: black;
        z-index: 10;
        transition: all 0.3s;
    }
.menu_header{
        display: flex;
        justify-content: space-between;
        align-items: baseline;

}
    .hover_effect{
    $thetransition: all .3s linear;
    text-decoration: none;
    position: relative;

    &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1.5px;
    bottom: 0;
    left: 0;
    background-color: white;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: $thetransition;
    transition: $thetransition;
    }
    &:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(2);
    transform: scaleX(2);
    }
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    overflow-x: hidden;
    // font-family: Josefin Sans;
}
.pointer{
    cursor: pointer;
}

.main{
    background:linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)),url('../images/desktop/image-hero.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width:100vw;
    height: 100vh;
}

.header{
    padding-bottom: 120px;
}

.mainlogo{
    font-family:Alata;
    font-weight: 800;
    font-size: 30px;
    color: $white;
    // background-color: black;
}

.navigation{
    color: $white;
    display: flex;
    padding-left:180px;
    justify-content: space-between;
    align-items: center;
    
    // background-color: blue;
}

.main_body{
    color: $white;
    // font-family: 'Josefin Sans';
    width: 55%;
    padding-left: 5%;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    // padding
    font-weight:100;
    border: 2px solid white;
    font-size: 60px;
}


.middle{
    width: 100%;
    height: 70vh;
    margin-top: 15vh;
    margin-bottom: 15vh;
    // background-color: pink;
    display: flex;
}

.middle> .photo{

    background-image:url('../images/desktop/image-interactive.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

.middle>.content{
    position: sticky;
    top: 100%;
    /* left: -20%; */
    height: max-content;
    /* z-index: 2; */
    padding-left: 79px;
    transform: translate(-12vw, 0vh);
    padding-top: 79px;
    background: white;
}

.middle>.content>.big{
    font-size: 40px;
}
.middle>.content>.small{
    color:$darkgray;
}

.creations{
    display: flex;
    justify-content: space-between;
    align-items: center;
    // margin-bottom: 10vh;
}
.our_creation{
    font-size: 40px;
    font-weight: lighter;
}
.button{
    border: 2px solid black;
    color:black;
    background-color: white;
    padding-left:40px;
    padding-right:40px;
    padding-top: 8px;
    padding-bottom: 8px;
    letter-spacing: 3px;
    width: max-content;
    cursor: pointer;
    &:hover{
        background-color: black;
        color: white;
        transition: 0.4s linear;
    }
}

.collections{
    // background-color: pink;
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    // margin-left: 50px;
    // margin-right: 50px;
}
.collections>  .collection_card{
    height: inherit;
    // background-image:url('../images/desktop/image-deep-earth.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 256px;
    height: 450px;
    margin-top: 8vh;
    margin-left: auto;
    margin-right: auto;
}
.collections>.collection_card> .content{
    position: sticky;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 430px;
    justify-content: flex-end;
    color: rgb(223, 223, 223);
    font-weight:lighter;
    margin-left: 30px;
    font-size: 35px;
}

footer{
    background-color: black;
    color: white;
    height: 22vh;
}

.footer_nav{
    display: flex;
    justify-content: space-between;
    
}

.foot1_1{
    display: flex;
    justify-content: space-between;
}
.copyright{
    color:$darkgray
}


.collection_card:nth-child(1){
        background:linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),url('../images/desktop/image-deep-earth.jpg');
        
    }
    .collection_card:nth-child(2){
        background:linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),url('../images/desktop/image-night-arcade.jpg');
        
    }
    .collection_card:nth-child(3){
        background:linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),url('../images/desktop/image-soccer-team.jpg');
        
    }
    .collection_card:nth-child(4){
        background:linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),url('../images/desktop/image-grid.jpg');
        
    }
    .collection_card:nth-child(5){
        background:linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),url('../images/desktop/image-from-above.jpg');
        
    }
    .collection_card:nth-child(6){
        background:linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),url('../images/desktop/image-pocket-borealis.jpg');
    }
    .collection_card:nth-child(7){
        background:linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),url('../images/desktop/image-curiosity.jpg');
        
    }
    .collection_card:nth-child(8){
        background:linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),url('../images/desktop/image-fisheye.jpg');
        
    }

@media only screen and(max-width:800px){
    
    .main{
        background:url('../images/mobile/image-hero.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width:100vw;
        height: 100vh;
    }

    div.main_body{
        // display:none;
        width: 100%;
        font-size: 45px;
    }
   .middle2{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-top: 15vh;
        margin-bottom: 15vh;

    }
    
    .big{
        font-size: 36px;
    }
    .small{
        color:gray;
    }
    span.photo{
        overflow-x: hidden;
        width: auto;
    }
    .our_creation{
        font-size: 30px;
    }
    .collections *{
        font-size: 25px;
    }
    .mobo_center{
        display: flex;
        justify-content: center;
    }
    .collections > .collection_card {
    height: 152px;
    width: 26rem;
}
    .collection_card:nth-child(1){
        background:linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),url('../images/mobile/image-deep-earth.jpg');
        width:654px;
        // height: 220px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        
    }
    .collection_card:nth-child(2){
        background:linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),url('../images/mobile/image-night-arcade.jpg');
        width:654px;
        // height: 220px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        
    }
    .collection_card:nth-child(3){
        background:linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),url('../images/mobile/image-soccer-team.jpg');
        width:654px;
        // height: 220px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        
    }
    .collection_card:nth-child(4){
        background:linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),url('../images/mobile/image-grid.jpg');
        width:654px;
        // height: 220px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        
    }
    .collection_card:nth-child(5){
        background:linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),url('../images/mobile/image-from-above.jpg');
        width:654px;
        // height: 220px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        
    }
    .collection_card:nth-child(6){
        background:linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),url('../images/mobile/image-pocket-borealis.jpg');
        // width: 100%;
        width:654px;
        // height: 220px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        
    }
    .collection_card:nth-child(7){
        background:linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),url('../images/mobile/image-curiosity.jpg');
        width:654px;
        // height: 220px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        
    }
    .collection_card:nth-child(8){
        background:linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),url('../images/mobile/image-fisheye.jpg');
        width:654px;
        // height: 220px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        
    }

    .collections>.collection_card> .content{
        position: sticky;
        display: flex;
        flex-direction: column;
        justify-content: center;
        // background-color: pink;
        height: 140px;
        justify-content: flex-end;
        color: rgb(223, 223, 223);
        font-weight:lighter;
    }
    footer{
        height: auto;
    }
    div.foot1_2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        // background-color: red;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
}
